<br>
<br>

<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>

  <p>
    <strong>Link to origin:</strong>
    <%= message.link_to_origin %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= message.author_name %>
  </p>


</div>

<br>
<br>